<h1>Welcome</h1>
<div class="list-group col-md-2 mt-2">
    <a href="/notes" class="list-group-item list-group-item-action active">
        Create new note
    </a>
    <a href="/dashboard/lists" class="list-group-item list-group-item-action">Create new List
    </a>
    <a href="#" class="list-group-item list-group-item-action disabled">Delete all
    </a>
    <a href="/users/logout" class="list-group-item list-group-item-action">Log Out
    </a>
</div>

